body{
    background-color: #ccc;
    color: black;
    text-align: justify;
    text-indent: 15px;
    /* background-image: url("IMG/Fondo3.jpg"); */
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    /* background-size: 100% 100%;  */
    /* word-spacing: 10px; */
    /* letter-spacing: 5px; */
    /* background-position: left bottom; */
    
}

#caja{
    border: 5px inset black;
    padding: 10px;
    background-color: rgb(94, 131, 212);
    color: white;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
    text-decoration: line-through;
    vertical-align: top;
}

h2{
    color: #ff0000;
    background: #ccc;
    background-image: url("IMG/Fondo2.jpg");
    border: 5px inset red;
}